/*
.top-nav .call li {
    text-align: right;
    margin-right: 30px;
    text-decoration: none;
}
*/

.top-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.top-nav .call {
    background-color: green;
    margin-right: 10%;
    text-align: center;
    padding: 10px;
    grid-column-start: 5;
    grid-column-end: 6;
}
/*
.top-nav .logo {
    height: 100px;
    background-image: url('/images/IMG_5109.PNG');
}

.top-nav div {
    display: inline-block;
    text-decoration: none;
}
*/
.top-nav div li {
    text-decoration: none;
}

.top-nav img {
    height: 100px;
    margin-left: 10%;
    grid-column-start: 1;
    grid-column-end: 2;
}

.sec-nav {
    text-align: center;
    background-color: gray;
    height: 40px;
    
}

.sec-nav li {
    display: inline;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
    gap: 20px 10px;
}

/* Main Board Elements */
.main-board {
    background-image: url('/images/builder-8760325_1920.jpg');
    height: 875px;
    grid-column-start: 1;
    grid-column-end: 5;
}

#info {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
/*
.main-board div {
    display: inline-block;
    margin: 0 auto;
}*/

.main-board .front-form {
    text-align: right;
    background-color:cornflowerblue;
    padding: 40px;
    grid-column-start: 4;
    grid-column-end: 6;
    margin-right: 10%;
    margin-top: 20%;
    
}

.about h1 {
    text-align: center;
    color: white;
}

.main-board .about p {
    color: white;
}

.about {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20%;
    margin-left: 10%;
}

.testimonials {
    background-color: beige;
    height: 200px;
}

.testimonials h1 {
    text-align: center;
}

.services {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.message {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

.different {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}

.testimonials {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
}